<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Resto.Front.Api.AphroditePlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Resto.Front.Api.AphroditePlugin.Properties.Settings>
            <setting name="UnusedDepositProductNumber" serializeAs="String">
                <value>56413</value>
            </setting>
            <setting name="DepositExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Crazy</string>
                        <string>Вход</string>
                        <string>Бой посуды</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ShowTransactions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChangeProductNumber" serializeAs="String">
                <value>56414</value>
            </setting>
        </Resto.Front.Api.AphroditePlugin.Properties.Settings>
    </applicationSettings>
</configuration>